<div class="main">
  <div class="question">
    <h1>Question {{ i + 1 }} of 10</h1>
    <b>{{ questions.question }}</b>
  </div>
  <div class="optionsSection">
    <div class="options">
      <button class="option">
        <b>A</b>
        <p>{{ questions.options[0] }}</p>
        <img />
      </button>
      <button class="option">
        <b>B</b>
        <p>{{ questions.options[1] }}</p>
        <img />
      </button>
      <button class="option">
        <b>C</b>
        <p>{{ questions.options[2] }}</p>
        <img />
      </button>
      <button class="option">
        <b>D</b>
        <p>{{ questions.options[3] }}</p>
        <img>
      </button>
    </div>
    <button class="submitBtn">Submit Answer</button>
  </div>
</div>
