.main {
  display: flex;
  justify-content: space-between;

  .question {
    margin-top: 2rem;

    b {
      margin: 0 2rem 0 0;
      letter-spacing: 3px;
    }
    img {
      align-self: baseline;
    }
  }
  .optionsSection {
    button {
      margin-bottom: 1rem;
      border-color: transparent;
      padding: 1.2rem 0;
      border-radius: 15px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      outline: none;
      font-weight: 300;
      display: block;
    }
    .option {
      margin-bottom: 1rem;
      border-color: transparent;
      padding: 1.2rem 0;
      border-radius: 15px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      outline: none;
      font-weight: 300;
      display: block;
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      input {
        visibility: hidden;
      }
      b {
        color: #626c7f;
        padding: 0.8rem;
        border-radius: 8px;
        margin: 0 0.5rem;
        background-color: #f4f6fa;
      }
      p {
        font-size: 1.5rem;
      }
      img {
        margin-right: 0;
        align-self: center;
      }
    }
     .submitBtn {
        background-color: #7986cb;
        text-align: center;
      }
  }
 
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    width: 100%;
    .question {
      h1 {
        font-size: 5vw;
      }
      b {
        font-size: 4.5vw;
        line-height: 2rem;
      }
      p {
        font-size: 2.5vw;
      }
    }
    .optionsSection {
      margin-top: 1rem;
      button {
        width: 100%;
      }
      .options {
        margin: 0.5rem;

        .option {
          font-size: 5vw;
          
          label {
            font-size: 5vw;
            font-weight: 500;
          }
        }

        .option:hover {
          border: solid 2px;
          border-color: #7986cb;
          color: #7986cb;
          b {
            background-color: rgb(122, 136, 204, 0.5);
          }
        }

        .disabled {
          cursor: not-allowed;
        }

        .correct {
          border-color: green;
          b {
            background-color: green;
          }

          img {
            content: url("../../assets/icons/icon-correct.svg");
          }
        }

        .active {
          border: solid 2px;
          border-color: #7986cb;
          color: #7986cb;
          b {
            background-color: rgb(122, 136, 204, 0.5);
          }
        }

        .wrong {
          border-color: red;
          b {
            background-color: red;
          }
          img {
            content: url("../../assets/icons/icon-error.svg");
          }
        }
      }
     
    }
  }
}

@media screen and (min-width: 770px) {
  .main {
    margin: 4rem;
    .question {
      width: 45%;

      h1 {
        margin-bottom: 2rem;
      }
      b {
        font-size: 2rem;
        width: 70%;
        line-height: 2.5rem;
      }
      p {
        font-size: 1.5rem;
      }
     
    }
    .optionsSection {
      button {
        width: 90%;
        font-size: 1.7rem;
      }
      width: 50%;
      .options {
        margin: 0.5rem;

        .option {
          width: 90%;
          font-size: 1.7rem;
         

      
          label {
            font-size: 1.7rem;
            font-weight: 500;
          }
        }

        .option:hover {
          border: solid 2px;
          border-color: #7986cb;
          color: #7986cb;
          b {
            background-color: rgb(122, 136, 204, 0.5);
          }
        }

        .disabled {
          cursor: not-allowed;
        }

        .correct {
          border-color: green;
          b {
            background-color: green;
          }

          img {
            content: url("../../assets/icons/icon-correct.svg");
          }
        }

        .active {
          border: solid 2px;
          border-color: #7986cb;
          color: #7986cb;
          b {
            background-color: rgb(122, 136, 204, 0.5);
          }
        }

        .wrong {
          border-color: red;
          b {
            background-color: red;
          }
          img {
            content: url("../../assets/icons/icon-error.svg");
          }
        }
      }
      
    }
  }
}
