<div class="main">
  <div class="question">
    <h1>Question {{ i + 1 }} of 10</h1>
    <b>{{ questions.question }}</b>
  </div>
  <div class="optionsSection">
    <div class="options">
      <div class="option">
        <b>A</b>
        <input type="radio" id="0" autocomplete="off">
        <label for="answer_a">{{ questions.options[0] }}</label>
        <img alt="answer status"/>
      </div>
      <div class="option">
        <b>B</b>
        <input type="radio" id="1" autocomplete="off">
        <label for="answer_b">{{ questions.options[1] }}</label>
        <img alt="answer status"/>
      </div>
      <div class="option">
        <b>C</b>
        <input type="radio" id="2" autocomplete="off">
        <label for="answer_c">{{ questions.options[2] }}</label>
        <img alt="answer status"/>
      </div>
      <div class="option">
        <b>D</b>
        <input type="radio" id="3" autocomplete="off">
        <label for="answer_d">{{ questions.options[3] }}</label>
        <img />
      </div>
    </div>
    <button class="submitBtn" disabled>Submit Answer</button>
  </div>
</div>
