.main {
  display: flex;
  justify-content: space-between;

  .question {
    b {
      font-size: 2rem;
    }
  }
  .optionsSection {
    .options {
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        margin-bottom: 1rem;
        border: none;
        padding: 1.2rem 0;
        border-radius: 15px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        outline: none;
        font-size: 1.7rem;
        font-weight: 300;
      }
    }
  }
}
