<div class="main">
  <div class="question">
    <h1>Question {{ i + 1 }} of 10</h1>
    <b>{{ questions.question }}</b>
  </div>
  <div class="optionsSection">
    <div class="options">
      <div class="option">
        <b>A</b>
        <input type="radio" id="one" autocomplete="off">
        <label for="one">{{ questions.options[0] }}</label>
        <img />
      </div>
      <div class="option">
        <b>B</b>
        <input type="radio" id="one" autocomplete="off">
        <label for="one">{{ questions.options[1] }}</label>
        <img />
      </div>
      <div class="option">
        <b>C</b>
        <input type="radio" id="one" autocomplete="off">
        <label for="one">{{ questions.options[2] }}</label>
        <img />
      </div>
      <div class="option">
        <b>D</b>
        <input type="radio" id="one" autocomplete="off">
        <label for="one">{{ questions.options[3] }}</label>
        <img />
      </div>
    </div>
    <button class="submitBtn" disabled>Submit Answer</button>
  </div>
</div>
